{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/showPage.css') }}"/>
{% endblock %}

{% block body %}

    {{ include('shared_components/topbar.html.twig') }}


    <div class="container showPage">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://www.planwallpaper.com/static/images/background_image_7.jpg"
                     alt="user background">
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col s9">
                        <h4 class="card-title grey-text text-darken-4">{{ toShow.getUsername() }}</h4>
                        <p class="medium-small grey-text">{{ toShow.getEmail() }}</p>

                        <!-- Dropdown Trigger -->
                        <a class='dropdown-button btn' href='#' data-activates='friendList'>List of friends</a>
                        <!-- Dropdown Structure -->
                        <ul id='friendList' class='dropdown-content'>
                            {% if toShow.getFriends() is empty %}
                                <li><a>None</a></li>
                            {% else %}
                                {% for friend in toShow.getFriends() %}
                                    {% if friend is same as(user) %}
                                        <li><a>You</a></li>
                                    {% else %}
                                        <li><a>{{ friend.getUsername() }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </ul>


                        {% if toShow is not same as(user) %}

                            <!-- Dropdown Trigger -->
                            <a class='dropdown-button btn' href='#' data-activates='mutualFriendList'>Common friends</a>
                            <!-- Dropdown Structure -->
                            <ul id='mutualFriendList' class='dropdown-content'>
                                {% if commonFriends is empty %}
                                    <li><a>None</a></li>
                                {% else %}
                                    {% for commonFriend in commonFriends %}
                                        <li><a>{{ commonFriend.getUsername() }}</a></li>
                                    {% endfor %}
                                {% endif %}
                            </ul>

                        {% endif %}

                    </div>

                    {% if isFriend %}
                        <div class="col s3">
                            <form action="{{ path('showUser', {'id': toShow.getId() }) }}" method="post">
                                <input type="hidden" name="toXFriend" value="{{ toShow.getId() }}"/>
                                <input type="hidden" name="actionType" value="remove" />

                                <button class="btn red">
                                    <i class="material-icons">remove</i>
                                </button>
                            </form>
                        </div>
                    {% else %}
                        <div class="col s3">
                            <form action="{{ path('showUser', {'id': toShow.getId() }) }}" method="post">
                                <input type="hidden" name="toXFriend" value="{{ toShow.getId() }}"/>
                                <input type="hidden" name="actionType" value="add"/>

                                <button class="btn green">
                                    <i class="material-icons">add</i>
                                </button>
                            </form>
                        </div>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>


{% endblock %}